<h1>Index Page!</h1>
<h2>Users List</h2>
<% User.all.each do |user| %>
  <p>Email: <%= user.email %></p>
  <p>First name: <%= user.first_name %></p>
  <p>Last name: <%= user.last_name %></p>
  <p>Device token: <%= user.device_token %></p>
  <br>
<% end %>
